*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
.login{
    width: 100%;
    /*height: 100vh;*/
    
    display: grid;
    place-items: center;
}
/*resivar esta area .form-container xq no se esta aplicando*/
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    width: 300px;
   
}
.logo{
     width: 150px;
     margin-bottom: 48px;
     justify-self: center;
    display: none;
    margin-top: 30px;
    
    
     }
.title{
      font-size: var(--lg);
      margin-bottom: 12px;
      text-align: center;
      }
.sub-title{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 5px;
}
input{
     background-color:var(--text-input-field);
     border:none;
     border-radius: 8px;
     font-size: var(--md);
     padding: 6px;
     margin-bottom: 15px;
     }
     .primary-button{
        background-color: var(--hospital-green);
        border-radius: 8px;
        border: none;
        color:var(--white);
        width: 100%;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 50px;
    }
    .login-button{
        margin-top: 14px;
        margin-bottom: 30px;
    }
    @media(max-width:640px){
        .logo{
            display: block;
            
        }
        }

.nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    background-color: chartreuse;
    z-index: 1000;

    /*
    width: 100%;
    height: 20px;
  
    background-color: chartreuse;
    display: relative;
    */
    
    
}
.container
{
    width: 100%;
    height: auto;
   background-color: aquamarine;
   position: relative;
 
    
}
.c1 p
{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;

}

.c1{background-color: rgb(91, 216, 101);
   }


footer
{
    background-color: rgb(189, 127, 20);
}

.menu{ position: absolute;
  right:0;
    display: inline-block;

  }


li{
    display: inline-block;
}
h1 ,h2 {
    padding: 1%;
    text-align: center;
}

 footer{ width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-around;
    
}
 .f1{
    display: flex;
    align-items: center;
    background-color: rgb(144, 225, 124);}

 .f2{display: flex;
    align-items: center;
    background-color: rgb(248, 143, 68);}
 .f3{display: flex;
    align-items: center;
    background-color: rgb(59, 239, 59);}
 
.f1, .f2, .f3{width: 150px;
justify-content: center;}
.imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: papayawhip;
    width: 100%;
    height: 400px;
}
.i{
    background-color: palevioletred;
}
.imagenes .i:nth-child(1)
{grid-column: 1 / 5;}

.imagenes .i:nth-child(2)
{grid-column: 2 / 2;
grid-row: 2 / 2;}

.imagenes .i:nth-child(3)
{grid-column: 2 / 5;
grid-row: 3 / 2;}

.imagenes .i:nth-child(4)
{grid-column: 2 / 3;
grid-row: 4 / 4;}

main{ margin-top: 14px;

}


ul .titulo{
    position: sticky;
    top:-15px;
    z-index: 1300;
    padding: 20px;
}
.titulo{font-weight:bold;}